@model CapetropolisTourism.Models.HotelModel
@{
    ViewData["Title"] = "Hotels";
}

<div class="text-center">
    <!-- display name value from controller -->
    <h1 class="display-4">@Model.name</h1>
    <!-- foreach loop to display all hotels -->
    <div class="row">
        @foreach (var room in Model.rooms)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h5 class="card-title">@room.roomType</h5>
                        <p class="card-text">@room.price</p>
                        @foreach (var feature in room.features)
                        {
                            <p class="card-text">@feature</p>
                        }
                    </div>
                </div>
            </div>
        }
        <form asp-controller="Hotels" asp-action="BookingSubmission">
            <input type="hidden" class="form-control" id="hotelName" name="name" value="@Model.name">
            <div class="form-group">
                <label for="roomType">Room Type</label>
                <select class="form-control" id="roomType" name="roomType">
                    @foreach (var room in Model.rooms)
                    {
                        <option value="@room.roomType">@room.roomType</option>
                    }
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary">Book</button>
        </form>
</div>

<script>
    let hotelData = @Html.Raw(Json.Serialize(Model));
    console.log(hotelData);
</script>